@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --margin-form-section: .80em;
  --weight: 700;
  --gradient-prymari:linear-gradient(45deg,#0bb33d,#1bff5f);
  --color-text: rgb(255, 255, 255);
}

.container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 15px;
}

.container .logo {
  width: 50px;
  height: 50px;
  background: var(--gradient-prymari);
  border-radius: 4px;
}

.container .btn .btn-buy {
  cursor: pointer;
}

.container .btn .btn-buy {
  background: var(--gradient-prymari);
  border: none;
  padding: 0.9em 1.2em;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.form-section {
  display: flex;
  flex-direction: column;
  background-color: #303030;
}

.form-section .form {
  display: flex;
  flex-direction: column;
  margin: 0.9em;
}

.form-section .form .flex {
  display: flex;
  flex-direction: column;
}

.form-section h1 {
  font-size: clamp(0.8em, 5vh, 1.3em);
  text-transform: uppercase;
  font-weight: var(--weight);
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
}

.form-section .form input {
  padding: 0.9em;
  margin: 0.5em 0;
  border: none;
  outline: none;
}

.form-section .form label {
  --color-prymari-label:#1bff5f;
  font-size: 0.9em;
  padding: 0.3em 0;
  color: var(--color-prymari-label);
}

.form-section .form input[type=button] {
  background: var(--gradient-prymari);
  padding: 0.6em;
  font-size: 1.3em;
  font-weight: var(--weight);
  text-transform: uppercase;
  width: 70%;
  margin: 0.7em auto;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
}

.funciona .about-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.funciona h2 {
  --font-size: clamp(1.2em,5vh,1.8em);
  font-size: var(--font-size);
  text-transform: uppercase;
  margin-top: 2em;
  text-align: center;
}

.funciona .about-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.funciona .about-profile .profile-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin: 0 1.2em;
  padding: 1.2em 0;
}

.funciona .about-profile .profile-ctn .profile-text {
  margin: 1.2em 0;
}

.funciona .about-profile .profile-ctn .img-ctn {
  max-width: 150px;
  width: 100%;
}

.funciona .about-profile .profile-ctn .img-ctn img {
  width: 100%;
}

.why-acquire {
  --background: #0bb33d;
  background-color: var(--background);
}

.why-acquire .why-ctn h2 {
  --font-size: clamp(1.2em,5vh,1.8em);
  text-align: center;
  font-size: var(--font-size);
  text-transform: uppercase;
  padding: 1.4em 0;
  color: #ffffff;
}

.why-acquire .why-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.why-acquire .why-flex .profile-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin: 0 1.2em;
  padding: 1.2em 0;
}

.why-acquire .why-flex .profile-ctn .profile-titulo h3 {
  color: var(--color-text);
  padding: 0.5em 0;
}

.why-acquire .why-flex .profile-ctn .img-ctn {
  max-width: 150px;
  width: 100%;
}

.why-acquire .why-flex .profile-ctn .img-ctn img {
  width: 100%;
}

.services-cta {
  background-color: #0bb33d;
  padding: 1.3em 0;
}

.services-cta .services-ctn {
  text-align: center;
}

.services-cta .services-ctn h2 {
  --font-size: clamp(1.2em,5vh,1.8em);
  text-align: center;
  font-size: var(--font-size);
  text-transform: uppercase;
  padding: 1.4em 0;
  color: #ffffff;
}

.services-cta .services-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 20px;
}

.services-cta .services-flex .profile-ctn {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin: 0 1.2em;
  padding: 1.2em 0;
}

.services-cta .services-flex .profile-ctn .img-ctn {
  max-width: 150px;
  margin: 0 auto;
}

.services-cta .services-flex .profile-ctn .img-ctn img {
  width: 100%;
}

.services-cta .services-flex .profile-ctn .profile-titulo h3 {
  color: var(--color-text);
  text-align: center;
  padding: 0.5em 0;
}

.contract-terms {
  width: 100%;
}

.contract-terms h2 {
  --font-size:clamp(2em,5vw,1.8em);
  font-size: var(--font-size);
  text-align: center;
  margin: 2em 0;
  text-transform: uppercase;
  font-weight: 800;
}

.contract-terms p {
  --font-size:clamp(1.2em,5vw,1.4em);
  font-size: var(--font-size);
  margin: 0 1.2em 0 1.2em;
  line-height: 1.8;
}

.rodape {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  height: 100%;
  padding: 1.4em 1.2em;
  margin-top: 1.4em;
  flex-wrap: wrap;
}

.rodape .logo {
  width: 50px;
  height: 50px;
  background: var(--gradient-prymari);
  border-radius: 4px;
}

.rodape .copy p {
  color: white;
  font-size: clamp(0.6em, 5vw, 1.2em);
}

.rodape .butoon button {
  background: var(--gradient-prymari);
  border: none;
  padding: 0.9em 1.2em;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.rodape .butoon button a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 620px) {
  .rodape {
    justify-content: center;
  }
  .rodape .butoon {
    margin-top: 1.3em;
  }
  .rodape .copy {
    margin-top: 1.3em;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .form-section .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4em;
    margin: 0 1.4em;
  }
  .form-section .form .flex {
    display: flex;
    flex-direction: column;
  }
  .form-section .form input[type=button] {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */